@{
    Layout = null;
}
<html>
    <head>
        <style>
            *{
            background-color: #292929;
            text-align:center;
            }
    p{
        background-color: darkred;
        color: black;
        font-famly:Arial,sans-serif;
        font-size:200px;
            border: 10px solid black;
       
    }
    h4{     
            font-family:serif;
            font-size:80px;     
    }
    a:link{
           
            color:brown
            text-shadow: 8px 8px black;
            font-size:85px;       
    }
    </style>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4" MERHABA</h1>
        <p>Düğün Davet Uygulamasına Hoşgeldiniz</p>
        <br />
        <h4>Bircan Aygün</h4> 
       
        </br>
        <a class= asp-action="CevapFormu">Cevap Formu İçin Tıklayınız</a>
    </div>

    </body>
</html>
  
